<%- include('partials/header.ejs') %>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div
              class="card-header"
              style="height: 70px; background-color: #6fd943"
            >
              <div class="col-12">
                <h4 class="float-left">Food Type</h4>
                <div class="head-right-btn">
                  <button
                    class="btn btn-sm btn-secondary float-right card-text-btn"
                    type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
                  >
                    <a
                      href="#"
                      data-ajax-popup="true"
                      data-size="md"
                      data-title="Invite New User"
                      data-toggle="tooltip"
                      title=""
                      data-bs-original-title="Add food_types"
                    >
                      Add
                    </a>
                  </button>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table class="table table-bordered table-md">
                      <thead>
                        <tr>
                          <th>Food Type</th>
                          <th>Image</th>
                          <th>created at</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(!food_types[0]) { %>
                        <tr>
                          <td colspan="100%" class="text-center">
                            No food_types
                          </td>
                        </tr>
                        <% } else {%> <% food_types.forEach(function(food_types){ %>
                        <tr>
                          <td>
                            <%= food_types.food_name %>
                          </td>
                          <td>
                            <img
                              src="/uploads/food_types/<%= food_types.food_image %>"
                              alt="food_types"
                              height="50px"
                              width="50px"
                            />
                          </td>
                            <td>
                                <%= food_types.created_at %>
                            </td>
                          <td>
                            <i
                              class="btn btn-danger btn-lg fas fa-trash-alt"
                              onclick="deletefood_types('<%= food_types._id %>');"
                            ></i>
                          </td>
                        </tr>
                        <% }); %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal" id="myModal">
    <!-- modal  -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="body mb-5">
          <div class="modal-body  mb-5">
            <form
              id="addnewslider"
              class="mx-5 form-group font-weight-bold showcursor: true"
            >
                    <label for="title" class="form-label">Food Name</label>
                    <input
                    type="text"
                    class="form-control"
                    id="food_name"
                    name="food_name"
                    placeholder="Enter Food Name"
                    />
              <div class="mb-3">
                <label for="logo" class="form-label">Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="food_image"
                  name="food_image"
                />
              </div>
              <button
                type="submit"
                class="btn mt-3 mb-3 pull-right"
                style="background-color: #6fd943; color: #fff"
              >
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- modal  -->
  </div>
</div>

<%- include('partials/footer.ejs') %>

<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });

  var addForm = $("#addnewslider");

  addForm.on("submit", addsubmitHandler);

  function addsubmitHandler(e) {
    e.preventDefault();

    // PREPARE FORM DATA
    var formData = new FormData(addForm[0]);

    // DO POST
    $.ajax({
      type: "POST",
      enctype: "multipart/form-data",
      processData: false,
      contentType: false,
      url: "/admin/food_type/add",
      data: formData,
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 1000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }

  function deletefood_types(id) {
    if (confirm("Do you really want to delete this food_types?")) {
      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/food_type/delete",
        data: JSON.stringify({
          id: id,
        }),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 2000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
  }
</script>
