<%- include('partials/header.ejs') %>

<!-- content start -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <!--  Orders Start-->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div
              class="card-header"
              style="height: 70px; background-color: #6fd943"
            >
              <div class="col-12">
                <h4 class="float-left">Orders</h4>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table id="example" class="table table-bordered table-md">
                      <thead class="t-head">
                        <tr>
                            <th>S.No</th>
                          <th>User Id</th>
                          <th>Subscription Plan</th>
                          <th>Amount</th>
                          <th>Order Id</th>
                          <th>Status</th>
                          <th>Receipt Id</th>
                          <th>Razorpay Payment Id</th>
                          <th>Date</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% if(!paymentData[0]) { %>
                        <tr>
                          <td colspan="100%">No Data</td>
                        </tr>
                        <% } else {%> <% paymentData.forEach(function(paymentData,index){ %>
                        <tr>
                          <td><%= index+1 %></td>
                          <td>
                            <%= paymentData.user_id ?
                            paymentData.user_id.name : " "%>
                          </td>
                          <td>
                            <%= paymentData.subscription_plan_id ? paymentData.subscription_plan_id.duration
                            : " " %>
                          </td>
                          <td><%= paymentData.amount %></td>
                          <td><%= paymentData.order_id %></td>
                          <td><%= paymentData.status %></td>
                          <td><%= paymentData.receipt_id %></td>
                          <td><%= paymentData?.payment_data?.razorpay_payment_id %></td>
                          <td>
                            <%= paymentData.created_at%>
                          </td>
                        </tr>
                        <% }); %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Orders Ends -->
    </div>
  </section>
</div>
<!-- Main Content -->


 <%- include ('partials/footer.ejs') %>
<script>
 $(document).ready(function () {
  $("#example").DataTable();
});
</script>