<%- include('partials/header.ejs') %>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div
              class="card-header"
              style="height: 70px; background-color: #6fd943"
            >
              <div class="col-12">
                <h4 class="float-left">Website Users Contact Info</h4>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table class="table table-bordered table-md">
                      <thead>
                        <tr class="text-center">
                          <th>Name</th>
                          <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Message</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% if(!contactInfo[0]) { %>
                        <tr>
                          <td colspan="100%">No Data</td>
                        </tr>
                        <% } else {%> <% contactInfo.forEach(function(contactInfo){ %>
                        <tr class="text-center">
                          <td><%= contactInfo.name %></td>
                          <td><%= contactInfo.email %></td>
                            <td><%= contactInfo.mobileNumber %></td>
                            <td><%= contactInfo.message %></td>

                          <td>
                            <i
                              class="btn btn-danger btn-lg fas fa-trash-alt"
                              onclick="deleteContactInfo('<%= contactInfo._id %>');"
                            ></i>
                          </td>
                        </tr>

                        <% }); %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include ('partials/footer.ejs') %>

<script>
  function deleteContactInfo(id) {
    if (confirm("Do you really want to delete this record")) {
      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/web_userContactInfo/delete",
        data: JSON.stringify({
          id: id,
        }),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 2000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
  }
</script>
